<script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

<script>
  // Your web app's Firebase configuration
  const firebaseConfig = {
    apiKey: "AIzaSyAPuVW6ffPR8_d44m_oQ6uuGQo4o3o5Ctw",
    authDomain: "workcongw.firebaseapp.com",
    projectId: "workcongw",
    storageBucket: "workcongw.appspot.com",
    messagingSenderId: "668691861664",
    appId: "1:668691861664:web:fb36e0ac188c150ec979c5",
    measurementId: "G-HZQ682XVPD"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>