<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.AddBookMapper">

        <!-- 주소록 전체 셀렉(개인/공유 공용) -->
        <select id="addBookList" resultType="AddBookVO" parameterType="map">
                SELECT 
                        manage_id, 
                        manage_display_name, 
                        manage_hp, 
                        manage_email, 
                        NVL(a.manage_remark, ' ') AS manage_remark, 
                        manage_company_name,
                        manage_official_name, 
                        manage_dept_name, 
                        manage_starred,
                        NVL(b.add_book_id, '0') AS add_book_id, 
                        NVL(b.add_book_title, ' ') AS add_book_title, 
                        NVL(b.share_add_book_yn, '0') AS share_add_book_yn, 
                        a.emp_id AS emp_id
                FROM 
                        add_book_manage a
                LEFT OUTER JOIN 
                        add_book  b
                ON 
                        a.emp_id = b.emp_id
                        and a.add_book_id = b.add_book_id
                WHERE 
                        a.emp_id = #{empId}
                        <if test="add_book_id != null">
                                <choose>
                                        <when test="add_book_id == 'noGroup'">
                                        AND b.add_book_id IS NULL
                                        </when>
                                        <otherwise>
                                        AND b.add_book_id = #{add_book_id}
                                        </otherwise>
                                </choose>
                        </if>
                ORDER BY 
                        manage_id ASC
        </select>

        <select id="addBookStarred" resultType="AddBookVO" parameterType="map">
                SELECT 
                        manage_id, 
                        manage_display_name, 
                        manage_hp, 
                        manage_email, 
                        NVL(a.manage_remark, ' ') AS manage_remark, 
                        manage_company_name,
                        manage_official_name, 
                        manage_dept_name, 
                        manage_starred,
                        NVL(b.add_book_id, '0') AS add_book_id, 
                        NVL(b.add_book_title, ' ') AS add_book_title, 
                        NVL(b.share_add_book_yn, '0') AS share_add_book_yn, 
                        a.emp_id AS emp_id
                FROM 
                        add_book_manage a
                LEFT OUTER JOIN 
                        add_book  b
                ON 
                        a.emp_id = b.emp_id
                        and a.add_book_id = b.add_book_id
                WHERE 
                        a.emp_id = #{empId}
                        AND manage_starred = '1'
                ORDER BY 
                        manage_id ASC
        </select>
        <!-- 주소록 그룹 셀렉(주소록 생성시 필요) -->
        <select id="addBookGroupSelect" resultType="AddBookVO" parameterType="map">
                SELECT 
                add_book_id,
                add_book_title,
                share_add_book_yn,
                emp_id
                FROM add_book
                WHERE emp_id = #{empId}
        </select>

        <!-- 주소록 특정 검색 셀렉(개인/공유 공용) -->
        <select id="addBookSearch" resultType="AddBookVO" parameterType="map">
        SELECT 
                manage_id, 
                manage_display_name, 
                manage_hp, 
                manage_email, 
                NVL(a.manage_remark, ' ') AS manage_remark, 
                manage_company_name,
                manage_official_name, 
                manage_dept_name, 
                manage_starred,
                NVL(b.add_book_id, '0') AS add_book_id, 
                NVL(b.add_book_title, '  ') AS add_book_title, 
                NVL(b.share_add_book_yn, '0') AS share_add_book_yn, 
                a.emp_id AS emp_id
        FROM 
                add_book_manage a
        LEFT OUTER JOIN 
                add_book  b
        ON 
                a.emp_id = b.emp_id
                and a.add_book_id = b.add_book_id
        WHERE 
                a.emp_id = #{empId}
                <if test="selectSearch != null">
                        <choose>
                                <when test="selectSearch == 'manage_display_name'">
                                AND manage_display_name LIKE '%' || #{searchText} || '%'
                                </when>
                                <when test="selectSearch == 'manage_hp'">
                                AND manage_hp LIKE '%' || #{searchText} || '%'
                                </when>
                                <when test="selectSearch == 'manage_official_name'">
                                AND manage_official_name LIKE '%' || #{searchText} || '%'
                                </when>
                                <when test="selectSearch == 'manage_dept_name'">
                                AND manage_dept_name LIKE '%' || #{searchText} || '%'
                                </when>
                        </choose>
                </if>
                ORDER BY manage_id ASC
        </select>

        

        <!-- 주소록 추가 -->
        <insert id="addBookInsert" parameterType="java.util.Map">
                INSERT INTO add_book_manage(manage_id, manage_display_name, manage_hp, manage_email, 
                                            manage_remark, manage_company_name,manage_official_name, manage_dept_name, 
                                            manage_starred,add_book_id,emp_id)
                VALUES(add_book_manage_seq.nextval, #{manage_display_name}, #{manage_hp}
                        , #{manage_email},#{manage_remark}, #{manage_company_name},#{manage_official_name}, #{manage_dept_name}
                        , 0,#{add_book_id},#{empId})
        </insert>

        <!-- 주소록 수정 -->
        <select id="addBookListUpdate" resultType="map" parameterType="map">
                SELECT 
                        manage_id, 
                        manage_display_name, 
                        manage_hp, 
                        manage_email, 
                        NVL(a.manage_remark, ' ') AS manage_remark, 
                        manage_company_name,
                        manage_official_name, 
                        manage_dept_name, 
                        manage_starred,
                        NVL(b.add_book_id, '0') AS add_book_id, 
                        NVL(b.add_book_title, ' ') AS add_book_title, 
                        NVL(b.share_add_book_yn, '0') AS share_add_book_yn, 
                        a.emp_id AS emp_id
                FROM 
                        add_book_manage a
                LEFT OUTER JOIN 
                        add_book  b
                ON 
                        a.emp_id = b.emp_id
                        and a.add_book_id = b.add_book_id
                WHERE 
                        a.emp_id = #{empId}
                        AND a.manage_id = #{manage_id}
                ORDER BY 
                        manage_id ASC
        </select>
        <update id="addBookUpdate" parameterType="map">
                UPDATE add_book_manage
                SET 
                        manage_display_name = #{manage_display_name},
                        manage_hp = #{manage_hp},
                        manage_email = #{manage_email},
                        manage_remark = #{manage_remark},
                        manage_company_name = #{manage_company_name},
                        manage_official_name = #{manage_official_name},
                        manage_dept_name = #{manage_dept_name},
                        add_book_id = #{add_book_id}
                WHERE emp_id = #{empId}
                and manage_id = #{manage_id}
        </update>
        <!-- 주소록 삭제 -->


        <!-- 주소록 그룹 추가(개인) -->
        <insert id="addBookGroupInsert" parameterType="java.util.Map">
                INSERT INTO add_book(add_book_id, add_book_title,share_add_book_yn,emp_id)
                VALUES(add_book_seq.nextval, #{add_book_title}, 0, #{empId})
        </insert>

        <!-- 주소록 그룹 삭제(개인/공유 공용) -->

        <!-- 주소록 그룹 수정(개인/공유 공용) -->

        <select id="addBookGroupDoubleCheck" resultType="map" parameterType="map">
                SELECT COUNT(*) AS count
                FROM add_book
                WHERE add_book_title = #{add_book_title}  
        </select>

        <update id="addBookStarredUpdate" parameterType="map">
                UPDATE add_book_manage
                SET 
                        manage_starred = #{manage_starred}
                WHERE emp_id = #{empId}
                and manage_id = #{manage_id}
        </update>

        <insert id="addBookStarredInsert" parameterType="java.util.Map">
                INSERT INTO add_book_favorites(manage_id,emp_id)
                VALUES(#{manage_id}, #{empId})
        </insert>

        <delete id="addBookStarredDelete" parameterType="map">
                DELETE FROM add_book_favorites
                WHERE manage_id = #{manage_id}
        </delete>
        
</mapper>