<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.AttendenceMapper">
        <select id="attendenceList" resultType="AttendenceVO" parameterType="String">
                select 
                        history_id,
                        emp_id,
                        a.attend_st_id,
                        b.attend_st_name, 
                        history_leaving_time, 
                        history_attend_time, 
                        history_reason 
                from 
                        attend_history a 
                left outer join 
                        attend_st b 
                on 
                        a.attend_st_id = b.attend_st_id  
                where 
                        emp_id = #{empId}
                        and TO_CHAR(history_attend_time, 'YYYY-MM') = #{attendDay}
                order by history_attend_time desc
        </select>

        <select id="attendMainSelect" resultType="map" parameterType="String">
                select 
                        history_id,
                        emp_id,
                        TO_CHAR(a.history_attend_time, 'YYYY-MM-DD') AS history_attend_day,
                        TO_CHAR(a.history_attend_time, 'HH24:MI') AS history_attend_time,
                        TO_CHAR(a.history_leaving_time, 'HH24:MI') AS history_leaving_time,
                        a.attend_st_id,
                        b.attend_st_name, 
                        history_reason 
                from 
                        attend_history a 
                left outer join 
                        attend_st b 
                on 
                        a.attend_st_id = b.attend_st_id  
                where 
                        emp_id = #{empId}
                        and TO_CHAR(history_attend_time, 'YYYY-MM') = #{attendDay}
                order by a.history_attend_time desc
        </select>

        <select id="attendenceNormalCountList" resultType="int" parameterType="String">
                select 
                        count(attend_st_id) as attendenceNormalCountList
                from 
                        attend_history a 
                where 
                        emp_id = #{empId} and attend_st_id IN (0,1,4,5) and TO_CHAR(history_attend_time, 'YYYY-MM') = #{attendDay}
        </select>

        <select id="attendenceTardyCountList" resultType="int" parameterType="String">
                select 
                        count(attend_st_id) as attendenceTardyCountList 
                from 
                        attend_history a 
                where 
                        emp_id = #{empId} and attend_st_id IN (2,3) and TO_CHAR(history_attend_time, 'YYYY-MM') = #{attendDay}
        </select>

        <select id="attendTimeSerch" resultType="String" parameterType="map">
                select attend_time from attend_setting
        </select>

        <select id="leavingTimeSerch" resultType="String" parameterType="map">
                select leaving_time from attend_setting
        </select>

        <insert id="attendStart" parameterType="java.util.Map">
                INSERT INTO attend_history(history_id, emp_id, attend_st_id, history_attend_time)
                VALUES(ATTEND_HISTORY_SEQ.nextval, #{empId}, #{attend_st_id}, #{history_attend_time})
        </insert>

        <select id="attendStSelect" resultType="java.util.Map" parameterType="map">
                SELECT attend_st_id, attend_st_name FROM attend_st WHERE attend_st_id = #{attend_st_id}
        </select>
        <update id="attendEnd" parameterType="map">
                UPDATE attend_history
                SET 
                        history_leaving_time = #{history_leaving_time},
                        attend_st_id = #{attend_st_id}
                WHERE emp_id = #{empId}
                and TO_CHAR(history_attend_time, 'YYYY-MM-DD') = #{attendStartTime}
        </update>

        <update id="attendEmpUpdate" parameterType="map">
                UPDATE emp
                SET 
                        attend_st_id = #{attend_st_id}
                WHERE emp_id = #{empId}
        </update>

        <update id="historyReasonInsert" parameterType="java.util.Map">
                UPDATE attend_history
                SET 
                        history_reason = #{history_reason}
                WHERE emp_id = #{empId}
                and TO_CHAR(history_attend_time, 'YYYY-MM-DD') = #{history_reason_date}
        </update>

        <select id="attendSelect" resultType="map" parameterType="java.util.Map">
                select 
                        a.emp_id,
                        a.emp_name,
                        c.history_reason,
                        TO_CHAR(c.history_attend_time, 'YYYY-MM-DD') AS history_attend_day,
                        TO_CHAR(c.history_attend_time, 'HH24:MI') AS history_attend_time,
                        TO_CHAR(c.history_leaving_time, 'HH24:MI') AS history_leaving_time,
                        c.attend_st_id,
                        d.attend_st_name,
                        e.code_name,
                        b.dept_name
                from 
                        attend_history c
                        left outer join emp a on a.emp_id = c.emp_id
                        left outer join dept b on b.dept_id = a.dept_id
                        left outer join attend_st d on c.attend_st_id = d.attend_st_id
                        left outer join code e on e.code_id = a.code_id
                <where>
                        <if test="emp_id != null">
                                a.emp_id = #{emp_id}
                        </if>
                        <if test="dept_id != null">
                                a.dept_id = #{dept_id} or b.dept_sup_id = #{dept_id}
                        </if>
                </where>
                order by c.history_attend_time desc
        </select>

        <insert id="attendinsertApproval" parameterType="java.util.Map">
                INSERT INTO attend_history(history_id, emp_id, attend_st_id, history_attend_time, history_reason, history_leaving_time)
                VALUES(ATTEND_HISTORY_SEQ.nextval, #{empId}, 5, TO_DATE(#{date}, 'YYYY-MM-DD'),#{approvalContent}, TO_DATE(#{date}, 'YYYY-MM-DD'))
        </insert>
</mapper>