<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.DeptMapper">



    <select id="selectDeptListByTeamYn" resultType="DeptVO" parameterType="DeptVO">
SELECT
dept_id
,dept_sup_id
,dept_name
,dept_create_dt
,dept_update_dt
,dept_st
,dept_hp
,dept_leader_id
,dept_team_yn
FROM
DEPT
WHERE   dept_team_yn = #{dept_Team_Yn}
AND     dept_st = 0
    <!-- 여기서 팀이냐 부서냐, 이미 정해진 dept_team_st로 정해짐  -->


    <if test='emp_Id != null and !"".equals(emp_Id) and dept_Team_Yn ==0'>
    AND     dept_id IN (SELECT dept_id as deptId1
    FROM	 EMP
    WHERE	 emp_id = #{emp_Id})
    <!-- 사용자가 속한 부서 정보만 조회 -->
</if>
<if test='emp_Id != null and !"".equals(emp_Id) and dept_Team_Yn ==1'>
    AND     dept_id IN (SELECT dept_id as deptId1
    FROM	 EMP
    WHERE	 emp_id = #{emp_Id})
    <!-- 사용자가 속한 팀 정보만 조회  -->
</if>
-- ORDER BY dept_id
</select>

    <select id ="selectAllList" parameterType="DeptVO" resultType="DeptVO">
        select a.dept_name, a.DEPT_ID, e.emp_name, a.DEPT_SUP_ID

        from dept a
                 inner join dept b on a.dept_sup_id = b.dept_id
                 INNER JOIN emp e ON b.dept_id = e.dept_id
        where e.emp_id = #{emp_Id}


    </select>

</mapper>