<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.HomeMapper">

<update id="updateProfile">
    UPDATE EMP SET EMP_PICTURE = #{emp_Picture}  WHERE EMP_ID = #{emp_Id}
</update>
    <select id="homescheduleList" resultType="map" parameterType="java.util.Map">
                SELECT schedule_title,code_id,schedule_imp
                FROM (
                    SELECT schedule_title,code_id,schedule_imp,schedule_start_dt 
                    FROM SCHEDULE
                    WHERE 
                    (TO_DATE(#{schedule_Start_Dt}, 'YYYY-MM-DD') BETWEEN TRUNC(SCHEDULE_START_DT) AND TRUNC(SCHEDULE_END_DT))
                    AND SCHEDULE_ST = 1
                    AND SCHEDULE_WRITER_ID = #{empId}
                    AND CODE_ID = 'S01'
                    AND ROWNUM &lt;= 2
                    UNION ALL
                    SELECT a.schedule_title,a.code_id,a.schedule_imp,a.schedule_start_dt 
                    FROM SCHEDULE a
                    left outer join
                    dept b
                    on 
                    b.DEPT_SUP_ID = A.DEPT_ID
                    WHERE 
                    (TO_DATE(#{schedule_Start_Dt}, 'YYYY-MM-DD') BETWEEN TRUNC(SCHEDULE_START_DT) AND TRUNC(SCHEDULE_END_DT))
                    AND SCHEDULE_ST = 1
                    AND b.dept_id= #{deptId}
                    AND CODE_ID = 'S02'
                    AND ROWNUM &lt;= 2
                    UNION ALL
                    SELECT schedule_title,code_id,schedule_imp,schedule_start_dt 
                    FROM SCHEDULE
                    WHERE 
                    (TO_DATE(#{schedule_Start_Dt}, 'YYYY-MM-DD') BETWEEN TRUNC(SCHEDULE_START_DT) AND TRUNC(SCHEDULE_END_DT)) 
                    AND SCHEDULE_ST = 1
                    AND DEPT_ID = #{deptId}
                    AND CODE_ID = 'S03'
                    AND ROWNUM &lt;= 2
                ) 
                ORDER BY SCHEDULE_START_DT
    </select>

    <select id="homeReservationList" resultType="map" parameterType="java.util.Map">
        select *
        from(
        select 
               a.meet_room_reservation_id,
               a.meet_room_id,
               a.emp_id,
               a.reservation_start_time,
               a.reservation_end_time,
               a.reservation_date,
               a.meet_room_detail,
               a.meet_room_reservation_st,
               '' as meet_room_dept_id,
               b.meet_room_name,
               b.meet_room_no
        from 
        MEET_ROOM_RESERVATION a
        left outer join
        meet_room b
        on 
        a.meet_room_id = b.meet_room_id
        where a.RESERVATION_DATE = #{schedule_Start_Dt}
        and a.emp_id = #{empId}
        AND ROWNUM &lt;= 2
        UNION ALL
        select a.*,
               b.meet_room_name,
               b.meet_room_no
        from 
        MEET_ROOM_RESERVATION a
        left outer join
        meet_room b
        on 
        a.meet_room_id = b.meet_room_id
        where RESERVATION_DATE = #{schedule_Start_Dt}
        and meet_room_dept_id = #{deptId}
        and not emp_id = #{empId}
        AND ROWNUM &lt;= 2
        )
    </select>
    <select id="getDashbodeList" resultType="HomeFormVO" parameterType="java.util.Map">
        select * from DASHBOARD where emp_id= #{emp_Id}
    </select>

    <update id="dashbodeUpdate" parameterType="map">
        UPDATE DASHBOARD
        SET 
        dashboard_approval = #{dashboardApproval},
        dashboard_reservation = #{dashboardReservation},
        dashboard_issue = #{dashboardIssue},
        dashboard_duty = #{dashboardDuty},
        dashboard_project = #{dashboardProject},
        dashboard_board = #{dashboardBoard},
        dashboard_weather = #{dashboardWeather}
        WHERE emp_id = #{empId}
    </update>
</mapper>